.card {
  background-color: lightblue; }

.score {
  font-weight: 700; }

.dealer {
  margin-bottom: 1rem; }

.is-hidden {
  display: none; }

.dealer_score > .score {
  visibility: hidden; }

.dealer_cards .card {
  display: none; }
  .dealer_cards .card:first-child {
    display: block; }
