$color: #FBF4F0;
$background: #151413;

@mixin media ($width) {
  @media (min-width: $width) {
    @content;
  }
}

*,
*:before,
*:after {
  // border: 1px solid lightblue;
  box-sizing: border-box;
}

h2, h1 {
	margin: 0;
	font-weight: 400;
}

h2 {
	font-size: 2.3rem;
	display: inline-block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: $background;
	color: $color;
	font-family: nimbus-sans, sans-serif;
	min-height: 100vh;
}

.margin {
	padding: 1rem; // change once larger
	// padding-bottom: 10rem;
	// position: relative;
	@include media(768px) {
		padding: 2rem;
	}
}

.heading, .heading2 {
	// position: relative;
	// margin: 1rem;
	.title_subtext {
		transform: rotate(-90deg) translateX(-100%);
		font-family: fira-mono, monospace;
		letter-spacing: 2.5px;
		font-size: 0.75rem;
		display: inline-block;
		transform-origin: top left;
	}
	.title {
		margin-top: -5px;
		font-size: 3rem;
	}
}

.heading_text {
	float: left;
}

.heading2 {
	display: none;
	@include media(768px) {
		transform: rotate(-180deg) translateY(100%);
		transform-origin: bottom center;
		display: block;
		margin-left: auto;
	}

}

.dotSlash {
	text-transform: lowercase;
	&:before {
		content: './';
	}
}

.underscore {
	text-transform: lowercase;
	&:after {
		content: '_';
	}
}

.content {
	@include media(768px) {
		margin: 0 auto 1rem auto;
		width: 78%;

		&:before {
			height: 1px;
			width: 110%;
			display: block;
			content: '';
			background-color: $color;
			margin-left: -5%;
			margin-bottom: 1rem;
		}
	}
}

hr {
	// border: 0.1px solid $color;
	// margin-left: 2.5rem;
	// margin-right: 2.5rem;
}

.tally {
	clear: both;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 2.5px;
	max-width: 9rem;
	margin: 5rem auto 3rem auto;
	text-align: center;

	.tally_section {
		margin-top: 0.5rem;
		float: left;
		width: 42%;
	}
	.tally_separator {
		text-transform: lowercase;
		width: 16%;
		margin-bottom: 10px;
	}
	.tally__wrapper {
		display: flex;
		align-items: flex-end;
	}

	.dealer_tally, .player_tally {
		letter-spacing: -2.5px;
		margin-right: 5px;
		font-size: 2rem;
	}
	@include media(768px) {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

.reset {
	margin-bottom: 3rem;
	@include media(768px) {
		display: none;
	}
}

.reset2 {
	display: none;
	@include media(768px) {
		display: block;
		float: right;
	}
}

.row {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.card-wrapper {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	width: 50%;
	max-width: 6rem; // change to 10 on desktop
	flex-basis: 6rem;
	float: left;

	@include media(768px) {
		width: 8rem;
		flex-basis: 8rem;
		max-width: 8rem;
		padding-left: 1rem;
		padding-right: 0;
	}
}

.card {
  background-color: $color;
  border: 8px solid $color; // change to border: 17px solid $color; at desktop
  color: $background;
  display: block;
  height: 0;
  padding-bottom: 140%;
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.4rem; //   border-radius: 0.5rem; on desktop
  margin-right: 1rem;
  position: relative;
  font-family: fira-mono, monospace;
  font-size: 1.3rem; // change to font-size: 1.5rem; on desktop

  @include media(768px) {
  	font-size: 1.5rem;
  	border: 11px solid $color;
  }
	  .card_number {
	  	font-weight: 700;
	  	position: absolute;
	  	top: 0;
	  	right: 0;
	  }

	.card_number--duplicate {
		font-weight: 700;
		position: absolute;
		bottom: 0;
		left: 0;
		transform: rotate(180deg);
	}
	.card_suit {
		position: absolute;
		font-size: 2rem; // desktop font-size: 3rem;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include media(768px) {
		  	font-size: 2.4rem;
		}
	}
}

.is-inactive {
	opacity: 0.5;
}

.notification {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 1rem;
	margin: 0;
	color: $background;
	background-color: $color;
	font-family: fira-mono, monospace;
    letter-spacing: 2.5px;
    text-align: center;
}

// SCORE
.player_stats {
	display: block;
	text-align: center;

	@include media(768px) {
		float: left;
		margin: 1rem 0rem calc(3rem - 10px) 0rem;
		text-align: left;
		width: 9rem;
		height: calc(9.8rem + 16px);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.score {
	// width: 10rem;
	// display: flex;
	// align-items: baseline;
	// display: inline-block;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $color;
    appearance: none;
    width: 100%;
    color: $color;
    padding: 0.8rem 0;
    font-family: fira-mono, monospace;
    letter-spacing: 2.5px;
    margin-bottom: 1rem;

    &:focus {
    	outline: 1px solid $color;
    	background-color: rgba(251, 244, 240, .1)
    }

	@include media(768px) {
		width: 15rem;
	}
}

.hit {
	@include media(768px) {
		margin-right: 1rem;
		// margin-left: 10.5rem;
	}
}

.deal {
	margin-top: 2rem;
	@include media(768px) {
		// margin-left: 10.5rem;
		margin-bottom: 1rem;
	}
}

.stand {
	@include media(768px) {
		// margin-left: 10.5rem;
	}
}

.message {
	font-family: fira-mono, monospace;
    letter-spacing: 2.5px;
    display: block;
    text-align: center;
	@include media(768px) {
		margin-left: 10.5rem;
		text-align: left;
	}
    // font-size: 1.5rem;
    // font-weight: 700;
    // margin: 1rem;
}

.score_score {
	font-size: 3.5rem;
	letter-spacing: -2.5px;
	margin-left: auto;
	margin-top: 0.2rem;
	font-weight: 700;

	@include media(768px) {
		// margin-left: 1rem;
	}
}
.score_text {
	margin-right: 0.5rem;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 2.5px;
}

.footer {
	display: flex;
	align-items: flex-end;
	text-transform: uppercase;
	font-size: 0.4rem;
	letter-spacing: 2.5px;
}

.score-push {
	margin-left: 1ch;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.dealer_cards,
.player_cards,
.secondHand_cards {
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	> * {
		flex-grow: 0;
		flex-shrink: 0;
	}


	@include media(768px) {
		float: right;
		width: calc(100% - 9rem);
		// margin-left: 1rem;
		justify-content: left;
	}
}

.dealer, .player, .secondHand {
	margin-bottom: 0.8rem;
}

.dealer {
	@include media(768px) {
		margin-bottom: 0;
	}
}

.dealer_cards .card-wrapper {
  display: block;
}

.card-back {
	// background-color: lightblue;
	background: repeating-linear-gradient(
	  45deg,
	  $background,
	  $background 2px,
	  $color 2px,
	  $color 10px
	);
}